@using WebShop.ViewModels
@model ProductListViewModel

@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

@section TitleSection{
    View Products
}

@section ContentBody{
    @using (Html.BeginForm("Index", "Product", FormMethod.Post))
    {
        <div class="container">
            <div class="row">
            </div>
            <h2>View Products</h2>
            <form class="form-inline">
                <div class="form-group">
                    <label for="Database">@Html.LabelFor(c => c.Database)</label>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            @Model.Database
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/Product/SessionDb">Session</a></li>
                            <li><a href="/Product/MsSQLDb">MsSQL</a></li>
                        </ul>
                    </div>
                </div>
            </form>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Product Number</th>
                        <th>Title</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ProductViewModel item in Model.Products)
                {
                        <tr>
                            <td>@item.ProductNumber</td>
                            <td>@item.Title</td>
                            <td>@item.Price</td>
                            <td><a href="/Product/DeleteProduct/@item.ProductId" class="btn btn-primary" role="button">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/Home/AddProduct" class="btn btn-primary" role="button">Add Product</a>
        </div>
    }
}
 

